@{
    ViewData["Title"] = "About Page";
}
<section class="about_section layout_padding_bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/template/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>We Are Yummy</h2>
                    </div>
                    <p>
                        Yummy is all about serving delicious meals made from carefully selected ingredients grown in our own farms. We believe in providing our customers with the best dining experience, offering a wide variety of dishes to suit every taste bud.
                        Our chefs are passionate about cooking and strive to create mouthwatering meals that will leave you craving for more. Whether you're a food enthusiast or just looking for a satisfying meal, Yummy has something special for everyone.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
